# package files
*.war
*.ear

# kdiff3 files
*.orig

# maven files
target/

# eclipse/vsc files
.settings/
.project
.classpath

# idea files
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp files
*.log
*.class
*.cache
*.diff
*.patch
*.tmp

# system files
.DS_Store
Thumbs.db

# 隐私配置文件
/private
